body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-size: xx-large;
    padding: 30px;
    text-align: center;
}
.game-board {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 50px;
}

img {
    width: 65px;
    height: 65px;
}

button img {
    width: 45px;
    height: 45px;
}

.game-box {
    font-size: large;
    text-align: center;
    border: 2px solid black;
    margin: 10px auto;
    width: 150px;
}

.box-header {
    display: flex;
}

.box-title {
    margin-right: auto;
    padding: 10px;
}

.player-choices {
    display: flex;
}

.player-choices * {
    margin: 8px;
    padding: 0;
}


.score-text { 
    flex-grow: 1;
    text-align: left;
}

.score {
    border: 2px dotted black;
    padding: 10px;
    /* margin-right: 2px; */
}